---
import Layout from '../layouts/Layout.astro';
import Links from '../components/Links.astro';
import Section from '../components/Section.astro';
import CVIcon from '../components/icons/CV.astro';
import MailIcon from '../components/icons/Mail.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import Experience from '../components/Experience.astro';
import Building from '../components/icons/Building.astro';
---
<Layout title="Portfolio de Denys Revutskyi - Programador y Desarrollador Web" 
		description="Contrata a Denys Revutskyi, desarrollador con conocimiento en frontend y en backend, Angular, React, Astro, Node.js">
	<main class="px-3">
		<Section class="pb-10 py-14">
			<h1 class="flex flex-row text-3xl font-bold text-white lg:text-5xl">
				Denys Revutskyi - WebDev
			</h1>
			<div class="flex flex-col items-center justify-between py-4 mx-auto lg:flex-row">
				<h2 class="text-xl lg:text-1xl opacity-70 text-wrap max-w-[700px]">
						La web es mi lienzo y la ilusión mi motor. 
						Conocimientos en Angular, React, TS, JS y mucho más, construyo soluciones innovadoras. 
						Soy comunicativo, resolutivo y estoy comprometido con la innovación.
				</h2>
				<img class="rounded-full size-40" src="/denys-foto.png" alt="Logo portfolio denys" />
			</div>
			<nav class="flex flex-wrap justify-center gap-3">
				<Links href="https://github.com/leid04"><GitHubIcon class="size-4 md:size-6"/>GitHub</Links> 
				<Links href="https://www.linkedin.com/in/denys2004/"><LinkedInIcon class="size-4 md:size-6"/>LinkedIn</Links>
				<Links href="/CV.pdf"><CVIcon class="size-4 md:size-6"/>CV-Denys</Links>
				<Links href="mailto:denys.msi04@gmail.com"><MailIcon class="size-4 md:size-6"/>denys.msi04@gmail.com</Links>
			</nav>
		</Section>
		<Section>
			<h2 class="flex items-center mb-5 text-3xl font-semibold gap-x-3">
				<Building class="size-6" />
					Experiencia laboral
			</h2>
			<Experience />
		</Section>
	</main>
</Layout>