<a 
  {...Astro.props}
  target="_blank" 
  rel="noopener noreferrer" 
  class={`
    md:px-4 md:py-1 py-1 px-2 
    text-xs md:text-base
    transition 
    flex items-center justify-center gap-x-2
    border rounded-full bg-white/20 border-white/10
    hover:bg-white/20 hover:scale-110`}
>
  <slot />  
</a>